{{ define "title" }}{{ .Title }} — {{ .Site.Title }}{{ end }}
{{ define "main" }}
  <div class="devlog">
    {{ .Content }}
    <ol class="devlog__list">
      {{ range .Pages.ByDate.Reverse }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          <time datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "2006-01-02" }}
          </time>
          <p class="devlog__summary">{{ .Params.summary }}</p>
        </li>
      {{ end }}
    </ol>
  </div>
{{ end }}
